  <form novalidate #loginform="ngForm"(ngSubmit)="onSubmit(loginform)">
    <div class="form-group">
<label for="email">Email</label>
<input type="email" [(ngModel)]="model.email" #email="ngModel"
name="email" 
class="form-control" 
required email>
    </div>
    <div [hidden]="email.valid || email.pristine" 
    class="alert alert-danger">Email is Mandatory</div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
      #password="ngModel"
      [(ngModel)]="model.password"
      class="form-control" name="password" 
      required minlength="3">
          </div>

          <div [hidden]="password.valid || password.pristine" 
          class="alert alert-danger">Password is Invalid
        </div>
    <div class="form-check">
     <input type="checkbox" class="form-check-input" 
     [(ngModel)]="model.rememberpassword"
     name="rpassword">     
     <label class="form-check-label" for="rpassword">
      Remember Password 
    </label>
     </div>
     <button [disabled]="loginform.invalid" 
     type="submit"
     class="btn btn-success">Login</button>

     <button (click)='newLogin();loginform.reset()'
     class="btn btn-success">Reset</button>
     
    
  </form>
